/* GENERALE */
body{
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica' !important;
	padding-top: 10px;
}

/* HEADER */
/* logo */
#logo h1{
	background-color: #0090c5;
}

/* HOMEPAGE */
.box.feature p{
	text-align: justify;
}
.box.feature h2{
	font-size: 2.2em;
}

/* INFO */
article.info{
	text-align: justify;
	font-size: 16px;
}
article.info ol{
	list-style-type: upper-alpha;
	list-style-position: inside;
	font-weight: bold;
}
article.info ol li{
	margin-top: 20px;
	
}
article.info ol li span{
	font-weight: normal;
}
figure.kids{
	display: block;
	float: right;
	margin-left: 20px;
}
figure.kids img{
	width: 350px;
}

/* GAMEPLAY */
#main-wrapper{
	padding-top: 20px;
}


/* Istruzioni */
.instruction{
	min-height: 200px;
	background-image: url("../../images/ORIGINAL/mascotte.png");
	background-size: 150px;
	background-repeat: no-repeat;
	padding-left: 160px;
}
.instruction .talktext{
	margin: 0;
	display: inline-block;
	position: relative;
	min-width: 400px;
	height: auto;
	background-color: transparent;
	border: 8px solid #000;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	padding: 10px;
	max-width: 200px;
	margin-top: 40px;
}
.instruction .talktext:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	right: auto;
	top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #000 transparent transparent transparent;
}
.instruction .talktext:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
	right: auto;
	top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: white transparent transparent transparent;
}
.instruction .talktext p{
	margin: 0;
}
.instruction .talktext #talktextButton{
	background-color: transparent;
	padding: 5px;
	float: right;
	
}
.instruction .solutionImage{
	float: right;
	max-width: 300px;
	margin-top: 30px;
} 
.instruction .solutionImage img{
	max-width: 300px;
}
.instruction .solutionImage:hover img{
	max-width: 300px;
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	transform: scale(2);
	display:block;
	position: relative;
	z-index:4000;
	
} 

/* Area gioco */
.container > .ng-scope{
	width: 66.66%;
	float: left;
}
.container > .playEx{
	width: 33.30%;
	float: left;
	padding-left: 30px;
}
.nestedDemo > .ng-scope{
	min-width: 100%;
}
.col-md-10{
	width: 100%;
}
.col-md-6{
	width: 50%;
}
div.dropzone, div.playEx{
	min-height: 500px;
	
}
.playEx ul{
	width: 100%;
}
.playEx ul li{
	display: inline-block;
	width: 49.3%;
	text-align: center;
}
.playEx ul li img{
	width: 100px;
	cursor: pointer;
}
.playEx ul li img:hover{
	-webkit-transition: 1s ease-out;
    -moz-transition:  1s ease-out;
    transition:  1s ease-out;
	-webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}
.box-yellow {
    border-color: #0090C5;
}
.row > .col-md-6:first-of-type .box-yellow > h3{
	margin-bottom: 20px;
	background-image: none;
	background-color: #0090C5;
	border-color: #0090C5;
	color: #fff;
}
.row > .col-md-6:last-of-type .box-yellow > h3{
	background-image: url(../../images/puzzle_start_small.png) !important;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	color: white;
	width: 150px;
	height: 53px;
	text-align: center;
}


/* stile pezzi */
li.ng-scope{
	width: 150px;
	background-color: transparent !important;
	border: none !important;
}
li.ng-scope > .container-element{
	margin: 0 !important;
	padding: 0 !important;
	
	padding-bottom: 19px !important;
	margin-top: -11px !important;
	background-image: url(../../images/loopDOWN_small.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 177px;
	border: none;
}
li.ng-scope > .container-element h3.ng-binding{
	background-image: url(../../images/loopUP_small.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	height: 71px;
	width: 177px;
	background-color: transparent;
		text-align: center;
	line-height: 45px;
	color: #fff;
}
li.ng-scope > .container-element > .column{
	width: 177px !important;
	padding-left: 27px !important;
	background-image: url(../../images/loopLeft_small.png);
	background-repeat: repeat-y;
	background-position: left;
}
li.ng-scope > .item{
	background-image: url(../../images/puzzle_base_small.png);
	background-color: transparent;
	background-repeat: no-repeat;
	height: 63px;
	min-width: 150px;
	margin-top: -11px;
	text-align: center;
	line-height: 45px;
	color: #fff;
}
.nestedDemo .dropzone .selected .item{
	color: white;
	background-color: transparent;
}
.nestedDemo .dropzone .selected .box > h3{
	color: white;
	background-image: url(../../images/loopUP_small.png);
	background-color: transparent;
}

/* riquadro animazione al play */
#animation{
	display: none;	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(236,236,236,0.8);
	z-index: 2000;
}
#result{
	padding-bottom: 20px;
	display: none;
	max-width: 350px;
	min-width: 300px;
	max-height: 300px;
	background-color: white;
	margin-top: 130px;
	position: absolute;
	z-index: 2500;
	border: solid 3px #697174;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #697174;
	text-align: center;
}
#result h2{
	text-align: center;
	margin:5% 5% 5% 5%;
}

#result figcaption {
   text-align: center;	
   font-weight: bold;
   color: #0090C5;
}

#result a, #result figure {
    display: inline-block;
}


#ominoBox{
	display: block;
}
.ominoBox{
	margin: 100px auto 0 auto;
	background-image: url('../../images/sfondo.jpg');
	height: 504px;
	width: 80%;
	border: solid 3px #697174;
	box-shadow: 10px 10px 5px #697174;
}


.ominoBox .flexContainer{
	display: flex;
	width: 73%;
	margin: 0 auto 0 auto;
	flex-wrap: wrap;
}

.ominoBox .flexItem{
	/*border: 1px solid black;*/
	width: 20%;
	
	height: 100px;
}
.ominoBox .flexItem img{
	display: block;
	margin: 0 auto;	
}
img.backButton{
	width: 100px;
	cursor: pointer;
	margin: 20px 20px 10px 20px;
}
img.backButton:hover{
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	transition: 1s ease-out;
	-webkit-transform: rotateZ(720deg);
	-moz-transform: rotateZ(720deg);
	transform: rotateZ(720deg);
}
img.forwardButton{
	width: 100px;
	cursor: pointer;
	margin: 20px 20px 10px 20px;;
}
img.forwardButton:hover{
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	transition: 1s ease-out;
	-webkit-transform: rotateZ(720deg);
	-moz-transform: rotateZ(720deg);
	transform: rotateZ(720deg);
}

/* omini */

.omino {
	position: relative;
	width: 200px;
	height: 110px;
	top: 45%;
}
.omino div, .omino span {
	position: absolute;
}

.omino .item {
	width: 200px;
	height: 200px;
	bottom: 0;
	left: 25%;
	margin-left: -50px;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
.omino .item .chewing {
	width: 100px;
	height: 100px;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	box-shadow: inset 10px -6px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
	-webkit-animation: bounce 0.6s ease-in-out infinite;
	animation: bounce 0.6s ease-in-out infinite;
}
.omino .item .chewing .eye {
	background: #fff;
	border-radius: 50%;
	border-top: 2px solid #111;
}
.omino .item .chewing .eye span {
	width: 4px;
	height: 4px;
	background: #232323;
	border-radius: 2px;
}
.omino .item .chewing .eye.left {
	top: 30px;
	left: 20px;
	width: 30px;
	height: 29px;
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.omino .item .chewing .eye.left span {
	top: 14px;
	left: 15px;
}
.omino .item .chewing .eye.right {
	top: 35px;
	right: 20px;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}
.omino .item .chewing .eye.right span {
	top: 9px;
	left: 7px;
}
.omino .item .chewing .mounth {
	width: 16px;
	height: 4px;
	bottom: 20px;
	background: #fff;
	border-radius: 50% 50% 100% 100%;
}
.omino .item .chewing .arm {
	width: 15px;
	height: 16px;
	bottom: 28px;
	border-radius: 7px;
	z-index: -1;
	-webkit-animation: arm-bounce 0.7s ease-in infinite;
	animation: arm-bounce 0.7s ease-in infinite;
}
.omino .item .chewing .arm.left {
	left: -13px;
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.omino .item .chewing .arm.right {
	right: -13px;
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}
.omino .item .shadow {
	width: 70px;
	height: 10px;
	bottom: -10px;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	background: #74d673;
	box-shadow: 0 0 5px #74d673;
	-webkit-animation: shadow 0.7s ease-in-out infinite;
	animation: shadow 0.7s ease-in-out infinite;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.omino .item#blue {
	z-index: 20;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.omino .item#blue .chewing {
	background: royalblue;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.omino .item#blue .mounth {
	left: 37px;
	width: 20px;
	height: 5px;
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
	-webkit-animation: mounth 0.7s ease-in-out infinite;
	animation: mounth 0.7s ease-in-out infinite;
}
.omino .item#blue .arm {
	background: royalblue;
}

@keyframes bounce {
	0% {
		bottom: 0;
	}
	65% {
		bottom: 8px;
	}
	100% {
		bottom: 0;
		border-radius: 49% 47% 42% 40%/60% 60% 40% 40%;
	}
}
@keyframes arm-bounce {
	0%, 100% {
		bottom: 28px;
	}
	33% {
		bottom: 23px;
	}
	40% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	66% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes shadow {
	0%, 100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	50% {
		-webkit-transform: scaleX(0.9);
		transform: scaleX(0.9);
	}
}
@keyframes mounth {
	0%, 100% {
		height: 4px;
		border-radius: 50% 50% 100% 100%;
	}
	50% {
		height: 8px;
		bottom: 17px;
		border-radius: 30% 30% 100% 100%;
	}
}
@keyframes parabola {
	0% {
		transform: translate(-30px, 90px);
	}
	10% {
		transform: translate(-24px, 57.6px);
	}
	20% {
		transform: translate(-18px, 32.4px);
	}
	30% {
		transform: translate(-12px, 14.4px);
	}
	40% {
		transform: translate(-6px, 3.6px);
	}
	50% {
		transform: translate(0px, 0px);
	}
	60% {
		transform: translate(6px, 3.6px);
	}
	70% {
		transform: translate(12px, 14.4px);
	}
	80% {
		transform: translate(18px, 32.4px);
	}
	90% {
		transform: translate(24px, 57.6px);
	}
	100% {
		transform: translate(30px, 90px);
	}
}
@-webkit-keyframes parabola {
	0% {
		transform: translate(-30px, 90px);
	}
	10% {
		transform: translate(-24px, 57.6px);
	}
	20% {
		transform: translate(-18px, 32.4px);
	}
	30% {
		transform: translate(-12px, 14.4px);
	}
	40% {
		transform: translate(-6px, 3.6px);
	}
	50% {
		transform: translate(0px, 0px);
	}
	60% {
		transform: translate(6px, 3.6px);
	}
	70% {
		transform: translate(12px, 14.4px);
	}
	80% {
		transform: translate(18px, 32.4px);
	}
	90% {
		transform: translate(24px, 57.6px);
	}
	100% {
		transform: translate(30px, 90px);
	}
}

@keyframes moveLeftToRight{
 
}
@keyframes moveLeftToRight2{
 
}
@keyframes jump{
  
}
@keyframes jump2{
  
}

.changing{
   animation: moveLeftToRight 2.5s forwards, jump 1s forwards, moveLeftToRight2 2.5s forwards, jump2 1s forwards;
   animation-delay: 0s, 1.5s, 2.5s, 4s;
   animation-fill-mode:forwards;
}

@keyframes bounceInKF{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

.bounceInAnim{
	opacity: 0;
	animation-name: bounceInKF;
	animation-duration: 700ms;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}


/* RESPONSIVE */

@media screen and (max-width: 1680px) {
	.box.feature h2 {
		font-size: 2em;
	}
	.playEx ul li {
		width: 45.3%;
	}
	.row > * {
		padding: 40px 20px 0 20px;
	}
	.instruction .solutionImage{
		margin-right: 70px;
	}
	
}

@media screen and (max-width: 1280px) {
	.container {
		width: 960px;
	}
	input.big[type="button"], input.big[type="submit"], input.big[type="reset"], button.big, .button.big{
		font-size: 2em;
	}
	.box.feature .inner{
		padding: 4em 0.5em 3em 0.5em;
	}
	#nav {
		right: 50px;
	}
	#logo{
		margin-left: 50px;
	}
	.instruction .solutionImage {
		margin-right: 30px;
	}
	.instruction .solutionImage:hover img{
		transform: none;
	}
	.container > .playEx{
		padding-top: 30px;
	}

}

@media screen and (max-width: 980px) {
	.container {
		width: 80% !important;
	}
	#navToggle .toggle::before{
		left: 25px;
		top: 25px;
		position: fixed;
	}
	#logo{
		max-width: 45%;
		margin: 0 auto;
	}
	.instruction .solutionImage{
		float: none;
		margin-top: 60px;
	}
	.instruction .solutionImage:hover img{
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
		transform: scale(2);
	} 
	.playEx ul li{
		display: block;
		margin-top: 30px;
	}
	.row > * {
		padding: 40px 5px 0 5px;
	}
	.box{
		padding: 1em;
	}
	.ominoBox{
		width: 95%;
	}
	

}

@media screen and (max-width: 736px) {
	#logo{
		max-width: 80%;
	}
	.container {
		width: 98% !important;
	}
	.instruction{
		padding-left: 0px;
		background-image: none;
	}
	.instruction .talktext::after, .instruction .talktext::before{
		display: none;
	}
	.instruction .talktext{
		min-width: 0px;
		max-width: 100%;
	}
	.instruction .solutionImage{
		margin: 30px auto 0 auto;
	}
	.instruction .solutionImage:hover img{
		-moz-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	.container > .ng-scope{
		float: none;
		width: 100%;
	}
	.container > .playEx {
		width: 100%;
		float: none;
		padding-left: 0px;
	}
	div.dropzone{
		min-height: 350px;
	}
	div.playEx{
		min-height: 0px;
	}
	.playEx ul li{
		display: inline-block;
	}
	.playEx > .dropzone{
		min-height: 0px;
	}

}

@media screen and (max-height: 618px) {
	.ominoBox {
		margin: 10px auto 0 auto;
	}
}
@media screen and (max-height: 525px) {
	.ominoBox {
		 background-position: center; 
		 height: 450px;
	}
}





































